<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="contenedorCuenta">
        <h1>Regístrate</h1>
        <div class="options">
            <div class="option">
                <a href="#">
                    <img src="~/img/empleador.jpg" alt="Quiero contratar">
                    <h3>Quiero contratar</h3>
                    <hr>
                </a>
            </div>
            <div class="option">
                <a href="@Url.Action("Login")"">
                    <img src="~/img/trabajador.jpg" alt="Quiero trabajar">
                    <h3>Quiero trabajar</h3>
                    <hr>
                </a>
            </div>
        </div>
        <p class="login-link">¿Ya tienes cuenta? <a href="@Url.Action("Login")">Iniciar sesión</a></p>
    </div>
    
    <script src="~/scripts/welcomeModal.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>
</html>
