<main>
<div>
<h1>Sobre nosotros</h1>
<img src="imagen" />
<p>Nuestro proyecto busca abordar diversos problemas que pueden surgir en los hogares, como fallas eléctricas y problemas de fontanería. Nos enfocamos en ofrecer soluciones efectivas que mejoren la calidad de vida de los habitantes. Además, queremos apoyar a los trabajadores del sector para que amplíen su mercado y brinden un mejor servicio. Esto incluye ofrecer formación continua y acceso a herramientas actualizadas, fomentando la colaboración entre profesionales. Al hacerlo, mejoramos la experiencia del cliente y contribuimos al desarrollo profesional de quienes trabajan en este ámbito, generando un impacto positivo en la comunidad.</p>
</div>
</main>