@{
    ViewBag.Titulo = "Política de Privacidad";
}

<div class="cookies-card">
  <p class="cookie-heading">Política de Privacidad</p>
  <p class="cookie-para">
    Introduccion
    En HomeHelp , valoramos tu privacidad y nos comprometemos a proteger la información personal que compartes con nosotros. Esta Política de Privacidad describe cómo recopilamos, usamos, almacenamos y protegemos tu información cuando utilizas nuestro sitio web, [URL del sitio web]. Al acceder y utilizar nuestros servicios, aceptas las prácticas descritas en esta política.
        Información que Recopilamos
        Recopilamos información personal que nos proporcionas al registrarte, como tu nombre, dirección de correo electrónico, número de teléfono y detalles sobre tus necesidades laborales o habilidades. También podemos recopilar información técnica automáticamente, como la dirección IP, tipo de navegador y páginas visitadas, para mejorar tu experiencia en nuestra plataforma”.
        Uso de la Información
        La información recopilada se utiliza para facilitar la conexión entre empleadores y trabajadores del hogar, gestionar tu cuenta, enviar notificaciones relevantes y mejorar nuestros servicios. No compartimos tu información personal con terceros sin tu consentimiento, salvo en casos donde sea necesario para cumplir con la ley o proteger nuestros derechos.
        Seguridad de la Información
        Implementamos medidas de seguridad adecuadas para proteger tu información personal contra acceso no autorizado, alteración o divulgación. Sin embargo, ten en cuenta que ningún método de transmisión por Internet o almacenamiento electrónico es 100% seguro, y no podemos garantizar su seguridad absoluta.
        Tus Derechos
        Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento. Si deseas ejercer estos derechos o tienes preguntas sobre nuestra política de privacidad, no dudes en contactarnos a través de HomeHelp@hotmail.com. Revisaremos y responderemos a tu solicitud de acuerdo con la legislación aplicable.
  </p>
  <div class="button-wrapper">
    <a  class="accept cookie-button" href="@Url.Action("Index")">Accept</a>
   <a class="reject cookie-button" href="#">Decline</a>
  </div>
  
</div>

