<form class="formCliente" action="@Url.Action("AgregarCliente")" method="post">
    <p class="title">Register</p>
    <p class="message">Signup now and get full access to our app.</p>
    <div class="flex">
        <label>
            <input class="inputRegister" type="text" name="Nombre" required="" id="Name">
            <span>Firstname</span>
        </label>

        <label>
            <input class="inputRegister" type="text" name="Apellido" required="" id="Lastname">
            <span>Lastname</span>
        </label>
    </div>  
    <div class="flex">
        <label>
            <input class="inputRegister" type="email" name="Email" required="" id="Email">
            <span>Email</span>
        </label>
        <label>
            <input class="inputRegister" type="text" name="DNI" required="" id="DNI">
            <span>DNI</span>
        </label> 
    </div>
    <div class="flex">
        <label>
            <input class="inputRegister" type="date" name="FechaNacimiento" required="" id="Birthdate">
            <span>Birthdate</span>
        </label>
        <label>
            <input class="inputRegister" type="text" name="FechaNacimiento" required="" id="Birthdate">
            <span>Location</span>
        </label>
    </div>
    <label>
        <input class="inputRegister" type="password" name="Password" required="" id="Password" autocomplete="">
        <span>Password</span>
    </label>
    <label>
        <input class="inputRegister" type="password" name="Password" required="" id="ConfirmPassword" autocomplete="">
        <span>Confirm password</span>
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Already have an account? <a href="@Url.Action("Login")"><b>Sign in</b></a></p>
</form>
