<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir un servicio</title>
</head>
<body> 
<div class="form-container">
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" id="title" placeholder="Añade un título">
    </div>
    <div class="form-group">
        <label for="description">Descripción</label>
        <textarea id="description" placeholder="Añade una descripción detallada" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="specialty">Especialidad</label>
        <select id="specialty">
            <option value="" disabled selected>Elegí la especialidad</option>
            <!-- Add options here as needed -->
        </select>
    </div>
    <div class="form-group">
        <label for="urgency">Nivel de urgencia</label>
        <select id="urgency">
            <option value="" disabled selected>Definí la urgencia</option>
            <!-- Add options here as needed -->
        </select>
        <p class="urgency-link" ><a href='@Url.Action("Tips")'>Si no sabes cual es apretá <span>acá</span></p>
    </div>
    <div class="form-group">
        <label for="location">Lugar</label>
        <input type="text" id="location" placeholder="Añade el lugar">
    </div>
</div>


</body>
</html>