<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
</head>
<body>
    @{
    ViewBag.Titulo = "Tips Psicologicos";
} 
 <div class="contenedor">
        <img src="~/img/fotoFondo.png" class="ImagenNostros" />
        <div class="fondoBlanco"></div>
        <div class="textoSobreImagen">
            <h1 class="tituloHome">Niveles de Urgencia</h1>
        </div>
    </div> 
<section class = "contenedor-tips">
<div class= "tip tip1"> 
<h2>NIVEL 1</h2>
<img src = "~/img/nivel1.png"> 
<p>
Los problemas de nivel 1 son considerados emergencias y requieren atención inmediata debido al 
riesgo significativo que representan. Estos incluyen situaciones como fugas de gas, cortocircuitos o 
fallas eléctricas que podrían causar incendios, inundaciones graves o cualquier otro peligro inminente 
para la seguridad de las personas o la integridad de la vivienda.
</p>
</div> 

<div class= "tip tip2"> 
<h2>NIVEL 2</h2>
<img src = "~/img/nivel2.png"> 
<p>
Los problemas de nivel 2 se clasifican como urgencias. Aunque no son tan peligrosos como las emergencias, 
deben ser atendidos con prontitud para evitar que la situación empeore. Ejemplos de estos casos son tuberías con fugas moderadas, 
problemas eléctricos parciales o averías que afectan el funcionamiento normal del hogar, pero no representan un riesgo inmediato.
</p>
</div> 

<div class= "tip tip3"> 
<h2>NIVEL 3</h2> 
<img src = "~/img/nivel3.png"> 
<p>
Los problemas de nivel 3 son aquellos sin urgencia. No requieren una solución inmediata ya que no 
interfieren de manera crítica con la seguridad o el confort. Estos incluyen reparaciones menores, 
como pequeños ajustes en las instalaciones o mejoras estéticas, que pueden planificarse para realizarse 
a mediano o largo plazo sin causar mayores inconvenientes.
</p>
</div> 
</section> 
</body>
</html>