@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
  font-family: "poppins";
}

main{
  margin-top: 1%;
  margin-bottom: 1%;
}

header{
  background-color: #a8d5df;
  width: 100%;
  height: 4.4em;
  
}

header img{
  height: 3.6em;
  margin-left: 1.5%;
  margin-top: 0.3%;
  width: auto;
  float: left;
}
header .user{
  float: right;
  width:  2%;
  height: auto;
  margin-right: 10px;
  margin-top: 13px;
}
header h1{
  float: left;
  margin: 0.6%;
  font-size: 2.1rem;
}
header a h6{
  float: right;
  display: flex;
  margin: 1%;
  margin-left: 0.5%;

}

footer {
  margin-top: 1%;
  background-color: #a8d5df;
  width: 100%;
  height: 13em;
  clear: left;
}

footer .HomeHelp{
  float: left;
  margin-left: 15%;
  margin-top: 1.8%;
  height: 6rem;
  width: auto;
}

footer .logos{ 
  float: left;
  height: 1.4em;
  margin: 2%;
}
footer .div-logos{
  width: 6%;
  margin-top: 7.2%;
  margin-left: -5.5%;
}

footer div{
  width: auto;
  float: left;
  margin-left: 10%;
}
footer div a p{
  display: flex;
  row-gap: 1;
  margin-top: 35px;
}

a {
  text-decoration: none !important; 
  color: inherit !important; 
}

a:hover {
  color: rgb(53, 53, 53) !important;
}

main .Home{
  text-align: center;
  
}

main .contenedor {
  position: relative;
  height: 430px;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 40px;
}

main .ImagenNostros {
  width: 100%;
  border-radius: 25px;
}

main .textoSobreImagen {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  
}

main .tituloHome {
  font-size: 9rem;
  margin: 0;
  font-family: "poppins";
}

main .subtituloHome {
  font-size: 2rem;
  margin-top: 5px;
  font-family: "poppins";
}

main .fondoBlanco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 158, 158, 0.7); 
    border-radius: 25px;
}

.contenedorPrincipal {
  margin-left: 4%;
  width: 92%;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 22px;
}

.columnaIzquierda {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 59%; 
}

.tarjeta {
  padding: 20px;
  color: #333;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tarjetaAyuda {
  background-color: #ef4e039a; 
  border-radius: 25px 0 0 0;
}

.tarjetaContacto {
  background-color: #46505152; 
  border-radius: 0 0 0 25px;
}

.tarjetaServicios {
  background-color: #a8d5dfa8; 
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  border-radius: 0 25px 25px 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

h2 {

  font-size: 1.5em;
  margin: 10px 0;
}

.ayuda {
  color: #FF0004; 
  font-weight: bold;
}

.contacto {
  color: #FCD812; 
  font-weight: bold;
}

.servicios {
  color: #00CEFF; 
  font-weight: bold !important;
}


.tarjetaServicios ul {
  font-size: 1rem !important;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tarjetaServicios li {
  font-size: 1.7rem !important;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.check {
  color: #00b4d8; 
  margin-right: 10px;
}
main .contenedorPrincipal img{
  width: 40%;
}

main .contenedorPrincipal .Emergencia{
  width: 20%;
}
/* Overlay */
.modal-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8) !important; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background-color: #f9f9f9 !important; 
  padding: 30px;
  border-radius: 12px !important; 
  text-align: center;
  max-width: 60%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) ;
}

.modal-content h2 {
  font-size: 1.2em;
  color: #333 ;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 15px;
}


/* Estilo para el botón de trabajador */
.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo para el botón de empleador */
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.container {
  max-width: 40% !important;
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.exit-button {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contenedorCuenta {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
}

.contenedorCuenta h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #444;
}

.options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.option {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.option img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #eee;
}

.option h3 {
  margin: 20px 0;
  color: #555;
  font-size: 1.4rem;
}

.option hr {
  width: 50%;
  margin: 10px auto;
  border: none;
  height: 2px;
  background-color: #ddd;
}

.login-link {
  margin-top: 30px;
  font-size: 1rem;
  color: #666;
}

.login-link a {
  color: #007BFF;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #0056b3;
}


/* COOOKIES */

.cookies-card {
  width: 700px;
  height: fit-content;
  background: linear-gradient(285deg, rgba(24,157,227,1) 0%, rgba(38,179,228,1) 53%, rgba(39,180,228,1) 83%, rgba(39,180,228,1) 100%)!important;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;
  position: relative;
  font-family: "poppins";
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
  margin-left: auto;
  margin-right: auto;
}

.cookie-heading{
  color: rgb(255, 255, 255) !important;
  font-weight: 800;
  font-size: 2rem;
}
.cookie-para{
  font-weight: 400;
  color: rgb(255, 255, 255) !important;
}
.button-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.cookie-button {
  width: 50%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.accept {
  background-color: rgb(34, 34, 34);
  color: white !important;
}
.reject {
  background-color: #ececec;
  color: rgb(34, 34, 34) !important;
}
.accept:hover {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
}
.reject:hover {
  background-color: #ddd !important;
}


/* Log in */

.containerLogIn {
  max-width: 350px;
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
  margin: auto;
  
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .titleLogin {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 1000px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white !important;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 9px;
}

/* Register */


.formCliente, .formTrabajador {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.title {
  font-size: 28px;  
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.formTrabajador label, .formCliente label {
  position: relative;
}

.formTrabajador label .inputRegister, .formCliente label .inputRegister {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.formTrabajador label .inputRegister+ span, .formCliente label .inputRegister+ span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.formTrabajador label .inputRegister:placeholder-shown + span .formCliente label .inputRegister:placeholder-shown + span{
  top: 15px;
  font-size: 0.9em;
}

.formTrabajador label .inputRegister:focus + span,.form label .inputRegister:valid + span, .formCliente label .inputRegister:focus + span,.form label .inputRegister:valid + span  {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.formTrabajador label .input:valid + span, .formCliente label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
.Imagenescarrousel{
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: 100%;
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  line-height: 2.6;
}

.box:hover { flex: 1 1 7%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

h1.display-4 {  
  font-family: "poppins";
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-top: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-in-out;
  letter-spacing: 1px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 

/* Servicios */
.formSer {
  --input-text-color: #fff;
  --input-bg-color: #283542;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}

.formSer {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}

.fancy-bgSer {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,.close-btnSer {
  position: absolute;
}

.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}

svg {
  width: 17px;
  display: block;
}

.close-btnSer {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}

.inputSer {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.inputSer:focus {
  outline: none;
}

.inputSer::placeholder {
  color: var(--text-color)
}

.inputSer:focus ~ .fancy-bgSer {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}

.inputSer:focus ~ .search {
  fill: var(--active-color);
}

.inputSer:valid ~ .close-btnSer {
  opacity: 1;
  visibility: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

