@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

main{
  margin-top: 1%;
  margin-bottom: 1%;
}

header{
  background-color: #a8d5df;
  width: 100%;
  height: 4.4em;
  font-family: "poppins";
}

header img{
  height: 3.6em;
  margin-left: 1.5%;
  margin-top: 0.3%;
  width: auto;
  float: left;
}
header .user{
  float: right;
  width:  2%;
  height: auto;
  margin-right: 10px;
  margin-top: 13px;
}
header h1{
  float: left;
  margin: 0.6%;
  font-size: 2.1rem;
}
header a h6{
  float: right;
  display: flex;
  margin: 1%;
  margin-left: 0.5%;

}

footer {
  margin-top: 1%;
  background-color: #a8d5df;
  width: 100%;
  height: 13em;
  clear: left;
}

footer .HomeHelp{
  float: left;
  margin-left: 15%;
  margin-top: 1.8%;
  height: 6rem;
  width: auto;
}

footer .logos{ 
  float: left;
  height: 1.4em;
  margin: 2%;
}
footer .div-logos{
  width: 6%;
  margin-top: 7.2%;
  margin-left: -5.5%;
}

footer div{
  width: auto;
  float: left;
  margin-left: 10%;
}
footer div a p{
  display: flex;
  row-gap: 1;
  margin-top: 35px;
}

a {
  text-decoration: none !important; 
  color: inherit !important; 
}

a:hover {
  color: rgb(53, 53, 53) !important;
}

main .Home{
  text-align: center;
  
}

main .contenedor {
  position: relative;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
}

main .ImagenNostros {
  width: 100%;
  border-radius: 25px;
}

main .textoSobreImagen {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  
}

main .tituloHome {
  font-size: 9.5rem;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

main .subtituloHome {
  font-size: 2rem;
  margin-top: 5px;
  font-family: "poppins";
}

main .fondoBlanco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 158, 158, 0.7); 
    border-radius: 25px;
}

.contenedorPrincipal {
  margin-left: 4%;
  width: 92%;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.columnaIzquierda {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 59%; 
}

.tarjeta {
  padding: 20px;
  border-radius: 15px;
  color: #333;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tarjetaAyuda {
  background-color: #ef4e039a; 
}

.tarjetaContacto {
  background-color: #46505152; 
}

.tarjetaServicios {
  background-color: #a8d5dfa8; 
  
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  border-radius: 15px;
}

h2 {

  font-size: 1.5em;
  margin: 10px 0;
}

.ayuda {
  color: #FF0004; 
  font-weight: bold;
}

.contacto {
  color: #FCD812; 
  font-weight: bold;
}

.servicios {
  color: #00CEFF; 
  font-weight: bold;
}



.tarjetaServicios ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tarjetaServicios li {
  font-size: 1.2em;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.check {
  color: #00b4d8; 
  margin-right: 10px;
}
main .contenedorPrincipal img{
  width: 40%;
}

main .contenedorPrincipal .Emergencia{
  width: 20%;
}
/* Overlay */
.modal-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8) !important; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background-color: #f9f9f9 !important; 
  padding: 30px;
  border-radius: 12px !important; 
  text-align: center;
  max-width: 60%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) ;
}

.modal-content h2 {
  font-size: 1.2em;
  color: #333 ;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 15px;
}

.button-container button {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para el botón de trabajador */
.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo para el botón de empleador */
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}
